
name: GitOps Pipeline with ArgoCD

on: 
    push:
        branches:
            - main
env: 
    PERSONNAL_ACCESS_TOKEN: ${{ secrets.PERSONNAL_ACCESS_TOKEN }}
    DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
    
jobs: 
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v3
              with:
                token: ${{ secrets.PERSONNAL_ACCESS_TOKEN }}
                fetch-depth: 0

            - name: Set up Go
              uses: actions/setup-go@v5
              with:
                go-version: "1.24"
                cache: true

            - name: Verify dependencies
              run: go mod tidy

            - name: Build Docker image
              run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/my-app:${{ github.sha }}  .

            - name: Scan Docker Image With Trivy
              run: docker run --rm -v /var/run/docker.sock:/var/run/docker.sock aquasec/trivy:latest image ${{ secrets.DOCKERHUB_USERNAME }}/my-app:${{ github.sha }}   

        
            # - name: Build API binary
            #   run: |
            #       mkdir -p bin
            #       GOOS=linux GOARCH=amd64 go build \
            #         -o bin/api \
            #         ./cmd/api
        
            # - name: Build Worker binary
            #   run: |
            #       GOOS=linux GOARCH=amd64 go build \
            #         -o bin/worker \
            #         ./cmd/worker
        
            # - name: Upload build artifacts
            #   uses: actions/upload-artifact@v4
            #   with:
            #       name: go-binaries
            #       path: bin/
            
